---
---

$standard-spacing: 20px;

footer {
    font-size: 0.75em;
    padding: $standard-spacing;
    margin-top: $standard-spacing;
    background-color: lightgray;

    h2 {
        font-size: 1.5em;
        text-align: center;
    }
}

header.texture-custom {
    background-color: cornflowerblue;
    background-image: none;
    margin-bottom: $standard-spacing;
}

a {
    color: cornflowerblue;
    text-decoration: underline;
}
